<div class="col-md-12">
  <!-- Breadcrump Bootstrap -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/inicio">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Compras</li>
    </ol>
  </nav>
</div>
<div class="col-md-12">
  <a routerLink="/listado-proveedores">Proveedores</a> <!-- 'routerLink' redirige a componente 'listado-prov' ('listado-prov.component') (establecido en 'path' de 'app.module.ts') -->
</div>
